.containerFlex {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;

  &.centered {
    justify-content: center;
    gap: 120px;
  }

  img {
    width: 181px;
  }
}
